.container {
  margin-top: 50px;
  width: 100%;
}
h2 {
  margin-bottom: 30px;
}

.exercise-card__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.exercise-card_name {
  margin-left: 21px;
  color: black;
  font-weight: bold;
  margin-top: 11px;
  font-size: 20px;
  word-break: break-all;
}

.button-box {
  padding: 2rem;
}

.load-more-button {
  background-color: #ff2625;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 40%;
  margin-top: 3rem;
}

.load-more-button:after {
  background-clip: padding-box;
  background-color: #cf0202;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.load-more-button,
.load-more-button:focus {
  user-select: auto;
}

.load-more-button:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.load-more-button:disabled {
  cursor: auto;
}

.load-more-button:active {
  border-width: 4px 0 0;
  background: none;
}
