.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0%;
  z-index: 1;
  background: var(--color-white);
}

.nav-links {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}

.nav-links li {
  margin: 0 1rem;
}

.nav-links a {
  color: #333;
  text-decoration: none;
  font-size: 1.2rem;
}

.nav-links a:hover {
  color: #ddd;
}
